// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: rosybrown;

body {
    font-family: Futura,"Trebuchet MS",Arial,sans-serif;
    background-image: image-url('pink_rice.png');
}

h1 {
  text-align: center;
  color: $main-color;
}

h2 {
  color: $main-color;
}

.well img {
  height: 125px;
  width: 100px;
}

.discount {
  color: red;
}

.well {
  width: 100%;
  background-color: whitesmoke;
}

img {
  height: 250px;
  width: 225px;
}

div h4 {
  color: maroon;
}

.product_header {
  color: darksalmon;
}