<h1>Lucky Charms</h1>
<h2><%= @lucky_charms.price %></h2>
<h3><%= @lucky_charms.description %></h3>
<img src="http://cdn.foodbeast.com.s3.amazonaws.com/content/uploads/2014/03/lucky-charms-7.jpg" alt="Lucky Charms">